@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

@layer base{
    .nav-button{
        @apply font-normal font-raleway text-xl
    }
}

.hero-section{
    background: rgb(54,64,84);
    background: linear-gradient(172deg, rgb(54, 64, 84) 0%, rgba(22,28,37,1) 46%, rgba(7,12,18,1) 100%);
}