@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        @apply text-default font-raleway
    }
    section{
        @apply px-7 lg:px-24 md:px-16 xsm:px-12 min-h-[100vh]
    }
    h2{
        @apply pt-20
    }
    h4{
        @apply font-semibold lg:text-base text-sm
    }
    html{
        @apply h-[100%] overflow-x-auto scroll-smooth
    }
    body{
        @apply scroll-smooth
    }
}


@layer components{
    .nav-link{
        @apply font-normal font-raleway text-lg cursor-pointer h-[100%] xsm:text-xl
    }
    .skill, .tool{
        @apply font-raleway font-normal text-base backdrop-blur-lg bg-gradient-to-tl from-transparent via-[rgba(11,17,33,0.28)] to-transparent rounded-md py-2 px-6 pointer-events-none lg:text-lg
    }


    /*Projects Section*/
    .project-technologies-list div{
        @apply p-[5px] lg:p-[6px] bg-[#20232b] rounded-md text-[11px] 
    }
    .project-list{
        @apply flex lg:gap-x-14 lg:gap-y-14 gap-x-10 gap-y-10 justify-center flex-wrap
    }
    .project-container{
        @apply lg:w-[350px] lg:h-[455px] xl:w-[400px] xl:h-[520px] w-[325px] h-[423px]
    }
    .project{
        @apply flex h-full shadow-lg shadow-[#fff] flex-col
    }
    .project-image{
        @apply w-full h-[275px]
    }
    .project-header{
        @apply lg:text-2xl text-xl font-semibold
    }
    .project-details{
        @apply flex flex-col w-full justify-between xl:p-5 p-3 gap-y-2 
    }
    .project-details p{
        @apply lg:text-base text-sm
    }
    .project-technologies-list{
        @apply flex flex-wrap gap-x-2 gap-y-2
    }

    /*Contact Section*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* Slow transition for background and text color */
        -webkit-text-fill-color: #b3b8c4 !important; /* Set your preferred text color */
        box-shadow: 0 0 0px 1000px transparent inset; /* 'Fakes' a transparent background */
}}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border do not add to the total width and height */
    border: none
  }


.hero-section{
    min-height: 100vh;
    background: url('/img/hero-background.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


.about-me-section{
    min-height: 100vh;
    background: url('/img/about-me-background.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


.projects-section{
    background: url('/img/project-background.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}



ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.socials-list li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-container{
    position: relative;
}

.nav-link:before, .nav-link:after
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #70809c98;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

.nav-link::after
{
    border-width: 2px;
    transition: all 0.4s;
}

.nav-link:hover::before{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.nav-link:hover::after{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

