@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

@layer base{
    .nav-link{
        @apply font-normal font-raleway text-xl cursor-pointer h-[100%]
    }
}

.hero-section{
    background: rgb(54,64,84);
    background: url('/img/space-background.jpeg') center/cover no-repeat,  linear-gradient(275deg, rgb(0, 0, 0) 0%, rgb(56, 68, 86) 46%, rgb(0, 0, 0) 100%);
    background-blend-mode: multiply;
}

ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link-container{
    position: relative;
}

.nav-link:before, .nav-link:after
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    border: 4px solid #627aa398;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

.nav-link::after
{
    border-width: 2px;
    transition: all 0.4s;
}

.nav-link:hover::before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.nav-link:hover::after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}
